.intro h2{
  color: blue;
}

.intro p {
  color: blue;
  font-weight: bold;
}

.intro img {
  border: solid blue 2px;
}
h1,h2 {
  text-align: center;
}
img {
  display: block;
  margin: auto;
}
p {
  font-family: sans-serif;
  width: 80%;
  margin: 10px auto;
  font-size: 1em;
}
.intro {
  color: red;
}
